.footerHeading {
    color: #000;
    font-size: 32px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.footerHeadings {
    color: #4776E6;
    font-size: 12px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-content: center;
    width: 596px;
    text-align: center;
    justify-content: center;
}

.buttonsBody {
    color: #fff;
    font-size: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);
    margin-top: 70px;
}

.footer {
    position: absolute;
    bottom: 20px;
    height: 70px;
    width: 100%;
    left: 10%;
    right: 10%;
}

.line {
    border: 0.5px solid #fff;
    width: 80%;
}

.footerBody {
    display: flex;
    justify-content: 'center';
    align-items: center;
    align-content: center;
    height: 70px;
}
.copyright{
    color: #FFF;
font-size: 12px;
font-family: Poppins;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 4%;
margin-right: 4%;
}
.footernavbar{
    margin-left: 8%;
    margin-right: 2.5%;
    width: 25%;
    display: flex;
    justify-content: space-around;
}.footericons{
    width: 20%;
    display: flex;
    justify-content: space-around;
}